<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Week 2 - Class 2</h1>
</div>

## Todays Agenda
* Homework Presentations
* Lists and indexing/operations
* Tuples
* Mutability

# Homework Presentations

# Exercise 4

Without actually using Python, determine what the following would evaluate
to in Python and explain step-by-step how you arrived at this answer:

    a. (1 or ((0 or 0) or 1)) or 1
    b. ((1 or 0) or 0 or 1) or 1
    c. 1 or 0 or 0 or 1 or 1
    
Change the following cells to markdown and fill your answer in them.

# Exercise 5

To convert Fahrenheit to Celsius, you use the following formula:

$$
    C^{\circ} = \frac{ (F^{\circ} - 32)}{1.8}
$$

Given a Fahrenheit input `temperature`, write some python statements to print the temperature in Celsius.

In [ ]:
temperature = input("Enter temperature in Fahrenheit: ")

### Note: In the following examples, `str` is used to denote a string. 

However, while python does allow us to set a value to a`reserved keyword`, this is generally a horrible idea. So keep in mind `str` here DOES NOT mean the type `str`.

---

### `str.endswith(suffix[, start[, end]]) -> bool`
Return True if S ends with the specified suffix, False otherwise.
With optional start, test S beginning at that position.
With optional end, stop comparing S at that position.
suffix can also be a tuple of strings to try.

In [ ]:
[i for i in dir(7) if not i.endswith(("__"))]

In [1]:
string = 'this is the sample string for the example'

#print(st.find('string'))
string.endswith("string", 19,25)  #checking that slice ends with slice

True

### `str.startswith(prefix[, start[, end]]) -> bool`
Return True if S starts with the specified prefix, False otherwise.
With optional start, test S beginning at that position.
With optional end, stop comparing S at that position.
prefix can also be a tuple of strings to try.

In [ ]:
[i for i in dir(7) if not i.startswith(("__"))]

In [ ]:
string = 'this is the sample string for the example'
#print(st.find('string'))
string.startswith("string", 19,25)  #looking to see if the slice starts
#with "string" so if we do ("string", 14,25) would return False

---

### `str.find(sub[, start[, end]]) -> int`
Return the lowest index in S where substring sub is found,
such that sub is contained within S[start:end].  Optional
arguments start and end are interpreted as in slice notation.

Return -1 on failure.

In [2]:
"1 2 3 4 5 6 7 8 9 10".find("8")

14

In [3]:
"1 2 3 4 5 6 7 8 9 10".find("8",0,14) #14 is not inclusive
#-1 means returning a failure meaning it did not find it.

-1

---

### `str.index(sub[, start[, end]]) -> int`

difference between find and index. If index looks for something and it doens't find it, it will return an error instead of -1 (like it did with find)

In [ ]:
string = "string with $100.00 inside and $1000.00"

string.index("$100")

In [ ]:
string = "0   4   8   12"

print(string.index("4"))

string.index('4', 4, 10)

In [7]:
dir(" ")   #all available methods to strings

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

---

### `str.join(iterable) -> str`   #list, string, tuples, sets, dic
Concatenate any number of strings.

The string whose method is called is inserted in between each given string.
The result is returned as a new string.

Example: `'.'.join(['ab', 'pq', 'rs'])` -> `'ab.pq.rs'`  
#whatever you put inside ' ' before s.join or ' ','.join()  #will be separated by commas

In [10]:
s = ['ab', 'pq', 'rs']
'$'.join(s)

'ab$pq$rs'

In [19]:
#iterable = ['1','2','3','4','5']   #List
#iterable = ('1','2','3','4','5')   #tuple
#iterable = {'1':'a', '2':'b', '3':'c', '4':'d', '5':'e'} #dic. order by key values
#by key not index. dic = {key:value}
iterable = {'1','2','3','4','5'} #sets without values, just keys
"".join(iterable)

'23451'

In [22]:
iterable = ["this", "will", "be", "a", "sentence"]
" ".join(iterable)

'this will be a sentence'

In [21]:
iterable = ["this", "will", "print", "on many", "lines"]
print("\n".join(iterable))   #each one will get printed in a new line

this
will
print
on many
lines

---

### `str.partition(sep) -> tuple` 
Partition the string into three parts using the given separator.

This will search for the separator in the string.  If the separator is found,
returns a 3-tuple containing the part before the separator, the separator
itself, and the part after it.

If the separator is not found, returns a 3-tuple containing the original string
and two empty strings.

In [ ]:
"1,000".partition(',')

---

### `str.replace(find, replace[, count]) -> str`
Return a copy with all occurrences of substring old replaced by new.

  count
    Maximum number of occurrences to replace.
    -1 (the default value) means replace all occurrences.

If the optional argument count is given, only the first count occurrences are
replaced.

In [ ]:
"The price is $1000".replace("$", "€")

In [ ]:
"$$$$$$$$$$".replace("$", "€", 5)

---

### `str.split(sep[, maxsplit]) -> list`

In [ ]:
"this is a long string".split(" ")

In [ ]:
"this,is,a,long,string".split(",", 10)

---

### `str.splitlines() -> list`
Return a list of the lines in the string, breaking at line boundaries.

Line breaks are not included in the resulting list unless keepends is given and true.'

In [ ]:
"string\nstring\nstring\n".split('\n')

---

---

### `str.is_()` functions for strings

strings have various `is_` methods for checking various things:
* `isalnum()` - returns `True` if all characters in string is alpha-numeric
* `isalpha()` - returns `True` if all characters in string is an alphabetical string 
* `isascii()` - returns `True` if all characters in string are ASCII.
* `isdecimal()` - returns `True` if all characters are decimal.
* `isdigit()` - returns `True` if all characters are decimals, subscripts and superscripts
* `isidentifier` - returns `True` if string is a python identifier (e.g. variable name)
* `islower()` - returns `True` if all characters in string are lowercase
* `isnumeric()` - returns `True` for wider category of numeric numbers (

In [ ]:
"abcdefg12345".isalnum()  #alphabetical

In [27]:
"aBcd".islower()  #checks if they are all alphabetial

False

In [28]:
"a".isascii() #ASCII organizing low level characters

True

In [29]:
"12345".isdecimal()

True

In [30]:
string = "12345\u00B2"  # considering unicode values
print(string)
string.isdigit()

12345²

True

In [31]:
random_named_variable = "string"

"random_named_variable".isidentifier() #important for not overlapping 
#identifier in python: example print, int

True

In [36]:
print('abc'.islower())
"abc".isupper()

True

False

In [32]:
num = "\u2182"
print(num)
num.isnumeric() #witter numeric character sets

ↂ

True

In [33]:
"0 2"[1].isspace() #taking string and then an index on the string.
#checkig if second value is a space

True

In [ ]:
"0 2"[1].istitle()

In [ ]:
"Welcome To Python".istitle()

In [ ]:
"ABCDE".isupper()

---

# `is` 

`is` is a built in keyword in the python language.

`==` is used for equality. `is` is used for identity.

```python
    >>> a = [1, 2, 3]
    >>> b = [1, 2, 3]
    >>> a == b
    True
    >>> a is b
    False
   

```

In [42]:
a = [1,2,3]
b = [1,2,3]
a is b    #they are not the same because the id is different

False

In [ ]:
a = True
a is True #works with booleans

In [43]:
a = "string"
b = "string"
b is a

True

# `in`

`in` is a built in keyword in the python language.

`in` is used to check if value is present in a sequence or to iterate through a sequence.

In [44]:
s = "red"
colors = ["red", "blue", "green"]
s in colors

True

In [45]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
[i*2 for i in range(10)] #if i % 2 == 0] #multiplying by 2 as is if going through the range

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# Continuing from Lists

# List operations

list operations:
* `+` - concatenation (adding lists together)
* `*` - multiply string
* `<` - works but not how we want
* `==` - tests equality of list
* `<=` - see `<`
* `len(lst)` - returns length of list  
* `print(lst)` - prints list
* `sorted(lst)` - sorts list

In [83]:
l = [0,1,2,3,4,5]
m = [6,7,8,9,10]

l + m

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [84]:
l = [0,1,2,3,4,5]

l * 2

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

In [85]:
l = [0,1,2,3,4,5]
m = [4, 5]

l * 3

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

In [87]:
l = [6,3,4]
m = [5,4,4]
print(l>m)
l[0] > m[0]  #iterate to the list before comparing gives a better answer

True

True

In [88]:
l = [0,1,2,3,4,5]
len(l)

6

In [89]:
l = [0,1,2,3,4,5]
print(l)

[0, 1, 2, 3, 4, 5]

In [90]:
l = [4,3,5,0,1]
print(l)
sorted(l)

[4, 3, 5, 0, 1]

[0, 1, 3, 4, 5]

In [91]:
[ i for i in dir(list()) if not i.endswith('__')]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### `lst.append()`

Append object to the end of the list.

In [ ]:
l = list()
l.append(1)
l

In [ ]:
l = []
l.append(5)   #will append it to the end(clear) of the list
l

### `lst.clear()`

Remove all items from list.

In [54]:
l = [0,1,2,3,4,5]
print(l)
l.clear()   #clear all the items of a list
l

[0, 1, 2, 3, 4, 5]

[]

### `lst.count()`
Return number of occurrences of value.

In [55]:
l = [2, 0, 7, 2, 3, 4, 2, 4, 5, 7]
l.count(2)

3

### `lst.extend()`

Extend list by appending elements from the iterable.

In [92]:
l = [1,2,3,4,5]
m = [5, -4, -3, -2, -1, 0]
m.extend(l)    #add two strings. Will mutate the list we are working it
m + l # returns a new list with all the new contends on it
m

[5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

### `lst.index(value)`

Return first index of value.

Raises ValueError if the value is not present.

In [93]:
# example index
l = [3, 8, 2, 1, 6, 5]
l.index(1)   #to find the index on a list

3

### `lst.insert(index, value)`

Insert object before index.

In [ ]:
# example insert
l = [0, 1, 2, 3, 4]
print(l)
l.insert(3, 0)   #instert zero at the 3rd value (index, value)
l

### `lst.pop(index)`

Remove and return item at index (default last).\n\nRaises IndexError if list is empty or index is out of range.

In [101]:
# example pop
l = [0, 1, 2, 3, 4, 5]
l.pop()   #if you don't specify the first item on the top (the last element) will get taken out. .pop mutates the list
print(l)
print(l.pop())
hello = l.pop(0)
print(hello)
print(l)
hello_again = l.pop(0)
print(hello_again)
print(l)

#when you use del you just delete it. pop lets you store the pop valeue so you can use that value later

[0, 1, 2, 3, 4]
4
0
[1, 2, 3]
1
[2, 3]

### `lst.remove(value)`
Remove first occurrence of value.  
Raises ValueError if the value is not present.

In [ ]:
# example remove
l = [0, 1, 2, 3, 4, 5, 3]
print(l)
l.remove(3)   #will remove that number. it will mutate it. but it will only remove the first one it finds. 
l

### `lst.reverse()`

Reverse *IN PLACE*.

In [ ]:
# example reverse
l = [5, 4, 3, 2, 1]
l.reverse()
l

In [ ]:
l = ['a', 'b', 'c', ['1','2', '3']]  #it doens't consern with what is inside the list. treats it as a whole. 
l.reverse()
l

### `lst.sort()`

Sort the list in ascending order and return None.

The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
order of two equal elements is maintained).

If a key function is given, apply it once to each list item and sort them,
ascending or descending, according to their function values.

The reverse flag can be set to sort in descending order.

In [ ]:
# example sort
l = [3,4,2,5,1]
l.sort()   #mutates the list. the diferrence between sorted and sort is sort mutates the list. 
l

In [ ]:
l = ['ab', 'bd', 'db', 'cd', 'ad']
l.sort()
l

In [ ]:
l = [
    #['name', 'class', 'grade'],
    ['john', 'data science', 97],
    ['jane', 'data science', 95],
    ['john', 'data science', 70],
    ['dave', 'data science', 98],
]
l.sort(key=lambda x: x[2])    #sort by the third key in a multi-dimensional list
print(l)

In [ ]:
l = [
    #['name', 'class', 'grade'],
    ['john', 'data science', 97],
    ['jane', 'data science', 95],
    ['john', 'data science', 70],
    ['dave', 'data science', 98],
]
l.sort(key=lambda x: x[0])
print(l)

In [ ]:
l = [1,2,3,4,5]
print(l)
m = l.copy()   #make a copy of the
m

# Tuples

In [77]:
l = list(range(4))
print(l)

[0, 1, 2, 3]

In [ ]:
l.append(4)
print(l)

In [ ]:
s = tuple(range(4))
print(s)

In [64]:
s.append(4)
print(s)     #tuple has no atrribute append

AttributeError: 'str' object has no attribute 'append'

In [65]:
s = tuple(range(4))
del s[3]   #tuple doesn't support a deletion

TypeError: 'tuple' object doesn't support item deletion

In [67]:
def func(): 
    return 0, 1, 2

In [68]:
val = func()
print(type(val))
print(val)     #a function will return a tuple

<class 'tuple'>
(0, 1, 2)

In [ ]:
val1, val2, val3 = func()
print(type(val1))
print(val1, val2, val3)

In [82]:
# packing and unpacking tuple

y = ('1st', '2nd', '3rd', '4th')
one, two, three, four = y  #unpack it by setting it to many variables 
one, two, three, four
print(one)

1st

In [79]:
y = one, two, three, four
print(y)

NameError: name 'one' is not defined

In [ ]:
[i for i in dir(tuple) if not i.endswith('__')]

In [ ]:
# two main things we can do on tuple because we are limited on what we can do

### `tup.count(value)`

Return number of occurrences of value.

In [69]:
l = (3, 4, 5, 3, 6, 7, 8)
l.count(3)

2

### `tup.index(value)`

Return first index of value.

Raises ValueError if the value is not present.

In [94]:
# example of index()
l = (3, 4, 5, 3, 6, 7, 8)
l.index(4)

1

# Code Along


Given the following matrix, find the determinant:
$$
\begin{equation*}
A = 
\begin{vmatrix}
1 & 2 \\
3 & 4 \\
\end{vmatrix}
\end{equation*}
$$
The determinant of a matrix is calculated as follows:
$$
\begin{equation*}
det(A) = 
\begin{vmatrix}
a & b \\
c & d\\
\end{vmatrix}
= ad
- bc
\end{equation*}
$$

In [73]:
A = [[1,2],[3,4]]
print(A)

[[1, 2], [3, 4]]

In [76]:
## det_A = (A[0][0] * A[0][2]) - (A[0][1] * A[1][1])
print(det_A)

-2