In [1]:
#week-04-class-02-lab


# lambda example with data frames
import pandas as pd

In [2]:
df = pd.DataFrame({'A': [1, 3, 4], 'B': [6, 7, 8]})
df

   A  B
0  1  6
1  3  7
2  4  8

In [3]:
#method 1 to adding the street name
street = 'Flower Street'
def add_street_name(x, street_name):
    return str(x) + ' ' + street_name

In [4]:
df['A']

0    1
1    3
2    4
Name: A, dtype: int64

In [5]:
#use the function built before to add a third columm with the street name
df['A'].apply(add_street_name, street_name=street)

0    1 Flower Street
1    3 Flower Street
2    4 Flower Street
Name: A, dtype: object

In [6]:
#Method 2: Create a lamba funciton on the fly so you can accomplish eveyrything in one step. No need to def a function
df['A'].apply(lambda row: str(row) + ' ' + 'Flower Street')

0    1 Flower Street
1    3 Flower Street
2    4 Flower Street
Name: A, dtype: object