<div style="background: #000;
            color: #FFF;
            margin: 0px;
            padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1 >Week 23 Class 3 03/01</h1>
</div>

## Objectives for this week:
* Continuing Machine Learning

## Todays Agenda
* Clustering Example
* Review numpy and pandas
* Some helpful videos

<div style="background: #000;
            color: #FFF;
            margin: 0px;
            padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Review Day</h1>
</div>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Numpy

### creating numpy arrays

In [ ]:
one_dimensional_array = np.array([1,2,3,4,5])
one_dimensional_array

In [ ]:
one_dimensional_array.shape

In [ ]:
array = [[1,2],[3,4,],[5,6]]
#array = ((1,2),(3,4,),(5,6))
#array = {1:2, 3:4, 5:6}

two_dimensional_array = np.array(list(array_dict.items()))
two_dimensional_array

In [ ]:
array = [[[1,2],[3,4]],[[3,4,],[5,6]]]

three_dimensional_array = np.array(array)
three_dimensional_array

In [ ]:
three_dimensional_array.shape

In [ ]:
two_dimensional_array

In [ ]:
two_dimensional_array.shape

# Placeholders

`np.zeros` takes a shape and returns a np array of that shape filled with zeros

In [ ]:
np.zeros((3,6))

`np.ones` takes a shape and returns a `np.array` of that shape filled with ones

In [ ]:
np.ones((3,4,5))

`np.arange` takes python slice format as argument (`start, stop, skip`) and returns a `np.array` of that range and skip.

note: stop is still exclusive as always

In [ ]:
np.arange(10,25,5)

`np.linspace` almost takes python slice format as argument as well and returns the range from `start` to `stop` (exclusive) but instead of `skip`, the third argument is the number of evenly spaced elements you need

In [ ]:
np.linspace(0,10,11)

`np.eye` takes an `int n` as argument and returns a $ n * n $ identity matrix

In [ ]:
np.eye(10)

# Inspecting your numpy array

In [ ]:
a = np.linspace(0,10,11)
a

In [ ]:
a.shape

In [ ]:
len(a)

In [ ]:
a.ndim

In [ ]:
a.size

In [ ]:
a.dtype

In [ ]:
a.astype(int)

# Broadcasting

Instead of looping through a `np.array`, we can simply perform arithmetic operations and each element will be affected

In [ ]:
a

In [ ]:
a ** 2

In [ ]:
a + 5

In [ ]:
a / 10

In [ ]:
a * 100

### Special math functions

These aren't broadcasted. Same indexed elements are computed together.

In [ ]:
a

In [ ]:
b = np.arange(5,16,1)
b

In [ ]:
np.add(a,b)

In [ ]:
np.subtract(a,b)

In [ ]:
np.divide(a,b)

In [ ]:
np.multiply(a,b)

In [ ]:
np.exp(a)

In [ ]:
np.sqrt(a)

In [ ]:
np.sin(a)

In [ ]:
np.cos(b)

In [ ]:
np.log(b)

In [ ]:
a = np.array([[1,2],[3,4]])
b = np.eye(2)
a, b

In [ ]:
a.dot(b)

# Comparison

In [ ]:
a = np.array([[1,2],[3,4]])
b = np.eye(2)
a,b

In [ ]:
a == b

In [ ]:
a < 2

In [ ]:
np.array_equal(a,b)

# Aggregate Functions

In [ ]:
a = np.array([[1,2],[3,4]])
a

In [ ]:
a.sum()

In [ ]:
a.min()

In [ ]:
a.max(axis=0)

In [ ]:
a.max(axis=1)

In [ ]:
a.cumsum(axis=0)

In [ ]:
a.cumsum(axis=1)

In [ ]:
a.mean()

In [ ]:
np.std(a)

In [ ]:
a.sort()
a

In [ ]:
a = np.array([[1,0,3],[3,1,2]])
a.sort(axis=0)
a

In [ ]:
a.sort(axis=1)
a

### Slicing/Indexing

In [ ]:
a = np.array([[1,0,3],[3,1,2]])
a

In [ ]:
a[1]

In [ ]:
a[1][2]

In [ ]:
a[1,2]

In [ ]:
a[a<3]

In [ ]:
a[1,1:]

In [ ]:
a[:,0::2]

In [ ]:
a[::-1]

### Reshaping

In [ ]:
a.T

In [ ]:
a.ravel()

In [ ]:
a.reshape(3,2)

In [ ]:
b = np.array([4,5,6])
c = np.append(a,b)
c

In [ ]:
np.zeros(10).resize(2,10)

# Pandas

### Series

A one-dimensional labeled array capable of holding any data type

In [ ]:
s = pd.Series([3, -5, 7, 4],  index=['a',  'b',  'c',  'd'])
s

A two-dimensional labeled data structure with columns of potentially different types

In [ ]:
data = {'Country': ['Belgium',  'India',  'Brazil'],
        'Capital': ['Brussels',  'New Delhi',  'Brasilia'],
        'Population': [11190846, 1303171035, 207847528]
}
df = pd.DataFrame(data,columns=['Country',  'Capital',  'Population'])
df

Please note that the first column 1,2,3 is the index and Country,Capital,Population are the Columns.

Asking For Help

In [ ]:
help(pd.Series.loc)

### I/O
Read and Write to CSV

In [ ]:
pd.read_csv('file.csv', header=None, nrows=5)
df.to_csv('file.csv')

In [ ]:
xlsx = pd.ExcelFile('file.xls')
df = pd.read_excel(xlsx,  'Sheet1')

Read and Write to Excel

In [ ]:
pd.read_excel('file.xlsx')
df.to_excel('file.xlsx',  sheet_name='Sheet1')

Read and Write to SQL Query or Database Table

(read_sql()is a convenience wrapper around read_sql_table() and read_sql_query())

In [ ]:
import sqlite3

conn = sqlite3.connect('../week-022/students.db')

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///../week-022/students.db')
pd.read_sql('SELECT * FROM student;', engine)
pd.read_sql_query('SELECT * FROM student;', engine)

In [ ]:
df.to_sql('new_table', engine)

### Selection

Getting

Get one element

In [ ]:
s = pd.Series([3, -5, 7, 4],  index=['a',  'b',  'c',  'd'])
s

In [ ]:
s['b']

Get subset of a DataFrame

In [ ]:
xlsx = pd.ExcelFile('file.xls')
df = pd.read_excel(xlsx,  'Sheet1')
df[0:]

In [ ]:
df.iloc[0:,1:]

### Selecting, Boolean Indexing and Setting
By Position

Select single value by row and and column

In [ ]:
data = {'Country': ['Belgium',  'India',  'Brazil'],
        'Capital': ['Brussels',  'New Delhi',  'Brasilia'],
        'Population': [11190846, 1303171035, 207847528]
}
df = pd.DataFrame(data,columns=['Country',  'Capital',  'Population'])
df.iloc[[0], [0]]

Getting a specific index

In [ ]:
df.iat[0, 0]

By Label

Select single value by row and column labels

In [ ]:
df.loc[[0],  ['Country']]

In [ ]:
df.at[0,  'Country']

In [ ]:
df.loc[1, :]

In [ ]:
df.loc[:, ['Capital']]

Select rows and columns

In [ ]:
df.loc[1, 'Capital']

### Boolean Indexing

Series s where value is not >1

In [ ]:
s = pd.Series([3, -5, 7, 4],  index=['a',  'b',  'c',  'd'])
s[~(s > 1)]

s where value is `s <-1` or `s>2`

In [ ]:
s[(s < -1) | (s > 2)]

Use filter to adjust DataFrame

In [ ]:
df[df['Population']>1200000000]

### Setting

Set index a of Series s to 6

In [ ]:
s['a'] = 6
s

### Dropping

Drop values from rows (axis=0)

In [ ]:
s.drop(['a',  'c'])

Drop values from columns(axis=1)

In [ ]:
df.drop('Country', axis=1)

### Sort and Rank

Sort by labels along an axis

In [ ]:
df.sort_index()

Sort by the values along an axis

In [ ]:
df.sort_values(by='Country')

### Assign ranks to entries

In [ ]:
df.rank()

### Retrieving Series/DataFrame Information

Basic Information

(rows, columns)

In [ ]:
df.shape

Describe index

In [ ]:
df.index

Describe DataFrame columns

In [ ]:
df.columns

Info on DataFrame

In [ ]:
df.info()

In [ ]:
Number of non-NA values

In [ ]:
df.count()

In [ ]:
df.notna().sum()

### Summary

Sum of values

In [ ]:
df.sum()

Cumulative sum of values

In [ ]:
df.cumsum()

Minimum/maximum values

In [ ]:
df.min()

In [ ]:
df.max()

Minimum/Maximum index value

In [ ]:
s = pd.Series([3, -5, 7, 4],  index=['a',  'b',  'c',  'd'])
s

In [ ]:
s.idxmin()

In [ ]:
s.idxmax()

Summary statistics

In [ ]:
data = {'Country': ['Belgium',  'India',  'Brazil'],
        'Capital': ['Brussels',  'New Delhi',  'Brasilia'],
        'Population': [11190846, 1303171035, 207847528]
}
df = pd.DataFrame(data,columns=['Country',  'Capital',  'Population'])
df.describe()

Mean of values

In [ ]:
df.mean()

Median of values

In [ ]:
df.median()

In [ ]:
df = pd.DataFrame([[]])
df['Population'].mode()

Applying Functions

In [ ]:
f = lambda x: x*2

In [ ]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

Apply function

`apply` works row/column-wise

In [ ]:
frame.apply(f)

`applymap` works element-wise

In [ ]:
frame.applymap(f)

`map` works element-wise on a `Series`

In [ ]:
frame['b'].map(f)

### Internal Data Alignment

NA values are introduced in the indices that don't overlap:

In [ ]:
s = pd.Series([3, -5, 7, 4],  index=['a',  'b',  'c',  'd'])
s3 = pd.Series([7, -2, 3],  index=['a',  'c',  'd'])
s + s3

### Arithmetic Operations with Fill Methods

You can also do the internal data alignment yourself with the help of the fill methods:

In [ ]:
s.add(s3, fill_value=0)

In [ ]:
s.sub(s3, fill_value=2)

In [ ]:
s.div(s3, fill_value=4)

In [ ]:
s.mul(s3, fill_value=3)

# Resources:

https://www.kaggle.com/lavanyashukla01/pandas-numpy-python-cheatsheet

<div style="background: #000;
            color: #FFF;
            margin: 0px;
            padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Clustering Example</h1>
</div>

https://www.youtube.com/watch?v=4b5d3muPQmA

This is the "Iris" dataset. Originally published at [UCI Machine Learning Repository: Iris Data Set](https://archive.ics.uci.edu/ml/datasets/Iris), this small dataset from 1936 is often used for testing out machine learning algorithms and visualizations (for example, [Scatter Plot](http://bl.ocks.org/curran/9e04ccfebeb84bcdc76c)). Each row of the table represents an iris flower, including its species and dimensions of its botanical parts, sepal and petal, in centimeters.

In [ ]:
# Code source: GaÃ«l Varoquaux
# Modified for documentation by Jaques Grobler
# License: BSD 3 clause

import numpy as np
import matplotlib.pyplot as plt
# Though the following import is not directly being used, it is required
# for 3D projection to work
from mpl_toolkits.mplot3d import Axes3D

# import KMeans from cluster module
from sklearn.cluster import KMeans

# import datasets included in sklearn
from sklearn import datasets

# this seeds our PRNG so our random numbers
# aren't random
np.random.seed(5)

# loads the Iris dataset
iris = datasets.load_iris()
X = iris.data
y = iris.target

# we're going to run 3 different versions of our KMeans
# one with 8 clusters
# one with 3 clusters
# one with 1 to 3 clusters initialized randomly and 
# meant to try a few different numbers and pick the best
estimators = [('k_means_iris_8', KMeans(n_clusters=8)),
              ('k_means_iris_3', KMeans(n_clusters=3)),
              ('k_means_iris_bad_init', KMeans(n_clusters=3, n_init=1,
                                               init='random'))]

# Now we set up a chart for our results
# we'll make 3 for each run of our KMeans algorithm
fignum = 1
titles = ['8 clusters', '3 clusters', '3 clusters, bad initialization']
for name, est in estimators:
    fig = plt.figure(fignum, figsize=(4, 3))
    ax = Axes3D(fig, rect=[0, 0, .95, 1], elev=48, azim=134)
    est.fit(X)
    labels = est.labels_

    ax.scatter(X[:, 3], X[:, 0], X[:, 2],
               c=labels.astype(float), edgecolor='k')

    ax.w_xaxis.set_ticklabels([])
    ax.w_yaxis.set_ticklabels([])
    ax.w_zaxis.set_ticklabels([])
    ax.set_xlabel('Petal width')
    ax.set_ylabel('Sepal length')
    ax.set_zlabel('Petal length')
    ax.set_title(titles[fignum - 1])
    ax.dist = 12
    fignum = fignum + 1

# Plot the real clustering
fig = plt.figure(fignum, figsize=(4, 3))
ax = Axes3D(fig, rect=[0, 0, .95, 1], elev=48, azim=134)

for name, label in [('Setosa', 0),
                    ('Versicolour', 1),
                    ('Virginica', 2)]:
    ax.text3D(X[y == label, 3].mean(),
              X[y == label, 0].mean(),
              X[y == label, 2].mean() + 2, name,
              horizontalalignment='center',
              bbox=dict(alpha=.2, edgecolor='w', facecolor='w'))
# Reorder the labels to have colors matching the cluster results
y = np.choose(y, [1, 2, 0]).astype(float)
ax.scatter(X[:, 3], X[:, 0], X[:, 2], c=y, edgecolor='k')

ax.w_xaxis.set_ticklabels([])
ax.w_yaxis.set_ticklabels([])
ax.w_zaxis.set_ticklabels([])
ax.set_xlabel('Petal width')
ax.set_ylabel('Sepal length')
ax.set_zlabel('Petal length')
ax.set_title('Ground Truth')
ax.dist = 12

fig.show()

<div style="background: #000;
            color: #FFF;
            margin: 0px;
            padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Videos</h1>
</div>

Logistic Regression:  
https://www.youtube.com/watch?v=yIYKR4sgzI8

KMeans Clustering
https://www.youtube.com/watch?v=4b5d3muPQmA

Cross-Validation:  
https://www.youtube.com/watch?v=fSytzGwwBVw

The Confusion Matrix:  
https://www.youtube.com/watch?v=Kdsp6soqA7o