<div style="background: #000;
            color: #FFF;
            margin: 0px;
            padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Week 19 Lab</h1>
</div>

For this lab, we'll be using the `flights.txt` file located in `/datasets`.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**Part 1**

Open `../datasets/flights.txt`. Use the methods we've learned in class to analyze the dataset from the top-level (see how many rows it has, how many null values, what columns are necessary, etc.).

**a.** read the file into a dataframe (hint: as a csv)

In [2]:
flights = pd.read_csv("flights.txt", sep="|")

**b.** Find the memory usage programmatically (hint: use `help`)

In [3]:
variable = flights.memory_usage().sum()/1000000
variable

16.800128

**c.** Find the number of missing entries for each column.

In [4]:
flights.isna().sum().sort_values(ascending=False)

arr_delay         2146
air_time          2146
arr_time          1964
dep_time          1894
dep_delay         1894
tailnum            547
Unnamed: 0.1         0
year                 0
month                0
day                  0
sched_dep_time       0
time_hour            0
sched_arr_time       0
minute               0
carrier              0
flight               0
origin               0
dest                 0
distance             0
hour                 0
Unnamed: 0           0
dtype: int64

**d.** What columns are unnecessary? Remove them so that the `df` doesn't include them.

In [5]:
#the unnamed columns seem unnecesary because we don't have a context of what they stand for
#in the dataframe
flights = flights.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)

**e.** Carrier/airline information is located below. Use the information in there to create a new column with a human-readable airline name.

```
"9E" "Endeavor Air Inc.",
"AA" "American Airlines Inc.",
"AS" "Alaska Airlines Inc.",
"B6" "JetBlue Airways",
"DL" "Delta Air Lines Inc.",
"EV" "ExpressJet Airlines Inc.",
"F9" "Frontier Airlines Inc.",
"FL" "AirTran Airways Corporation",
"HA" "Hawaiian Airlines Inc.",
"MQ" "Envoy Air",
"OO" "SkyWest Airlines Inc.",
"UA" "United Air Lines Inc.",
"US" "US Airways Inc.",
"VX" "Virgin America",
"WN" "Southwest Airlines Co.",
"YV" "Mesa Airlines Inc.",

```

In [6]:
values = {"9E":"Endeavor Air Inc.",
"AA":"American Airlines Inc.",
"AS":"Alaska Airlines Inc.",
"B6":"JetBlue Airways",
"DL":"Delta Air Lines Inc.",
"EV":"ExpressJet Airlines Inc.",
"F9":"Frontier Airlines Inc.",
"FL":"AirTran Airways Corporation",
"HA":"Hawaiian Airlines Inc.",
"MQ":"Envoy Air",
"OO":"SkyWest Airlines Inc.",
"UA":"United Air Lines Inc.",
"US":"US Airways Inc.",
"VX":"Virgin America",
"WN":"Southwest Airlines Co.",
"YV":"Mesa Airlines Inc."}

flights['airline_name'] = flights['carrier'].map(values)

In [7]:
flights = flights.reindex(['year',
 'month',
 'day',
 'dep_time',
 'sched_dep_time',
 'dep_delay',
 'arr_time',
 'sched_arr_time',
 'arr_delay',
 'carrier',
 'airline_name',
 'flight',
 'tailnum',
 'origin',
 'dest',
 'air_time',
 'distance',
 'hour',
 'minute',
 'time_hour'],axis=1)

In [8]:
pd.options.display.max_colwidth = 100

In [9]:
flights[["carrier","airline_name"]]

      carrier              airline_name
0          UA     United Air Lines Inc.
1          UA     United Air Lines Inc.
2          AA    American Airlines Inc.
3          B6           JetBlue Airways
4          DL      Delta Air Lines Inc.
...       ...                       ...
99995      EV  ExpressJet Airlines Inc.
99996      9E         Endeavor Air Inc.
99997      B6           JetBlue Airways
99998      UA     United Air Lines Inc.
99999      UA     United Air Lines Inc.

[100000 rows x 2 columns]

In [10]:
flights.shape

(100000, 20)

**Part 2** 

Now we need to fix the missing rows and values.

**a.** Check out the rows missing values for "dep_delay". Can we keep them? If not, remove those rows.

(note: we're only interested in rows with flight time information)

**b.** Now check out the rows missing "arr_time". Can we keep them? Drop them if not.

**c.** Now let's check out the rows missing `air_time`. Can we keep them? Drop them if not.

In [12]:
#gets rid of all the rows that have missing values
flights.dropna(inplace=True)   #to ask

In [15]:
flights.isna().sum().sort_values(ascending=False)

time_hour         0
minute            0
month             0
day               0
dep_time          0
sched_dep_time    0
dep_delay         0
arr_time          0
sched_arr_time    0
arr_delay         0
carrier           0
airline_name      0
flight            0
tailnum           0
origin            0
dest              0
air_time          0
distance          0
hour              0
year              0
dtype: int64

**Part 3**

Making observations of what we have.

**a.** What flight was the longest? Where did it leave from and where did it land?

You might need to look up airport codes.

In [36]:
#JFK (New York) - HNL (Honolulu): 4983  #to ask
flights.groupby("distance")[["origin","dest"]].sum().sort_values("distance",ascending=False).iloc[0]

origin    JFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFKJFK...
dest      HNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNLHNL...
Name: 4983, dtype: object

**b.** What flight was the shortest?

In [49]:
#EWR (New Jersey) - PHL (Philadelphia) : 80
flights.groupby("distance")[["origin","dest"]].sum().sort_values("distance",ascending=False).iloc[-1]

origin    EWREWREWREWREWREWREWREWREWREWREWREWREWREWREWREWREWREWREWREWREWREWREWREWREWREWREWREWREWREWREWR
dest      PHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHLPHL
Name: 80, dtype: object

In [37]:
flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,airline_name,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,United Air Lines Inc.,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,United Air Lines Inc.,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,American Airlines Inc.,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,JetBlue Airways,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,Delta Air Lines Inc.,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2013,12,19,814.0,817,-3.0,920.0,931,-11.0,EV,ExpressJet Airlines Inc.,4234,N25134,EWR,BWI,40.0,169,8,17,2013-12-19T13:00:00Z
99996,2013,12,19,815.0,810,5.0,1033.0,1047,-14.0,9E,Endeavor Air Inc.,3741,N293PQ,LGA,MCI,172.0,1107,8,10,2013-12-19T13:00:00Z
99997,2013,12,19,815.0,815,0.0,1117.0,1123,-6.0,B6,JetBlue Airways,281,N298JB,JFK,HOU,216.0,1428,8,15,2013-12-19T13:00:00Z
99998,2013,12,19,815.0,749,26.0,1113.0,1103,10.0,UA,United Air Lines Inc.,623,N504UA,EWR,SAN,337.0,2425,7,49,2013-12-19T12:00:00Z
99999,2013,12,19,816.0,800,16.0,1130.0,1118,12.0,UA,United Air Lines Inc.,997,N536UA,EWR,LAX,346.0,2454,8,0,2013-12-19T13:00:00Z

**c.** What airline flied the most during this period?

hint: `.size()`

In [55]:
#United Air Lines Inc.: flied 17353
flights.groupby("airline_name").size().sort_values(ascending=False) #to ask

airline_name
United Air Lines Inc.          17353
JetBlue Airways                15623
ExpressJet Airlines Inc.       15478
Delta Air Lines Inc.           13892
American Airlines Inc.          9493
Envoy Air                       7552
US Airways Inc.                 6040
Endeavor Air Inc.               5641
Southwest Airlines Co.          3728
Virgin America                  1491
AirTran Airways Corporation      877
Frontier Airlines Inc.           212
Alaska Airlines Inc.             205
Mesa Airlines Inc.               171
Hawaiian Airlines Inc.            92
SkyWest Airlines Inc.              6
dtype: int64

**d.** Which destination was most flown to?

In [59]:
#ATL: Atlanta Georgia flown 5036 times
flights.groupby("dest").size().sort_values(ascending=False)

dest
ATL    5036
ORD    4908
LAX    4689
BOS    4511
CLT    4165
       ...
MTJ       4
HDN       4
JAC       2
EYW       1
LEX       1
Length: 101, dtype: int64

**e.** Which location was flown from the most?

In [60]:
flights.groupby("origin").size().sort_values(ascending=False)

origin
EWR    34766
JFK    31855
LGA    31233
dtype: int64

In [72]:
def see_possible_categories(col):
    return flights.groupby(col).sum()
    
see_possible_categories("flight")

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,air_time,distance,hour,minute
flight,,,,,,,,,,,,,
1,509289,2342,3669,271482.0,270944,1138.0,349812.0,350930,-558.0,58715.0,429857,2651,5844
2,2013,1,5,1745.0,1740,5.0,1921.0,1905,16.0,131.0,711,17,40
3,458964,2127,3170,233136.0,236540,676.0,309693.0,307881,572.0,57466.0,427954,2345,2040
4,177144,322,1343,117874.0,118472,42.0,141421.0,142573,-592.0,11307.0,80143,1163,2172
5,318054,1712,2264,219127.0,218414,753.0,267565.0,267747,-982.0,37875.0,273893,2133,5114
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6101,2013,10,31,1432.0,1436,-4.0,1537.0,1559,-22.0,50.0,229,14,36
6114,2013,11,25,1028.0,1029,-1.0,1151.0,1158,-7.0,121.0,748,10,29
6177,150975,811,1064,45033.0,44890,463.0,54839.0,54109,330.0,3544.0,15900,438,1090
6181,122793,643,934,77997.0,77337,420.0,85647.0,85282,165.0,2908.0,13362,754,1937
8500,2013,1,30,1222.0,1115,67.0,1402.0,1215,107.0,132.0,733,11,15

**f.** Which flight had the longest departure delay?

In [73]:
flights["dep_delay"].sort_values(ascending=False)

7072     1301.0
8239     1126.0
87238     896.0
151       853.0
99938     849.0
          ...
48335     -25.0
24915     -27.0
9619      -30.0
64501     -32.0
89673     -43.0
Name: dep_delay, Length: 97854, dtype: float64

In [83]:
flights.groupby("flight")["flight","dep_delay"].size().sort_values(ascending=False)

<ipython-input-83-ef1a586c8a80>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  flights.groupby("flight")["flight","dep_delay"].size().sort_values(ascending=False)

flight
15      276
301     257
1       253
181     246
3       228
       ...
3586      1
1067      1
4585      1
4570      1
8500      1
Length: 2717, dtype: int64

**g.** Which flight had the longest arrival delay? Should match the previous.

**h.** Which airline had the longest arrival delays on average?

**i.** Which airline had the longest departure delays on average?

**j.** Which aircraft (going by tailnumber) flew the most?

**Bonus:** What day had the most flights?

**Part 4**

Using one (or more) of the exercises from **Part 3**, plot the information in a matplotlib chart that has correct ticks, labels, titles and axis. Also ensure that the chart type that you use is the correct one for plotting the data you're using. Create a chart you would proudly show an employer.