<div style="background: #000;
            color: #FFF;
            margin: 0px;
            padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Week 19 Lab</h1>
</div>

For this lab, we'll be using the `flights.txt` file located in `/datasets`.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**Part 1**

Open `../datasets/flights.txt`. Use the methods we've learned in class to analyze the dataset from the top-level (see how many rows it has, how many null values, what columns are necessary, etc.).

**a.** read the file into a dataframe (hint: as a csv)

In [23]:
flights = pd.read_csv("flights.txt", sep="|")

In [24]:
flights

,Unnamed: 0,Unnamed: 0.1,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,...,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,0,0,2013,1,1,517.0,515,2.0,830.0,819,...,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,1,1,2013,1,1,533.0,529,4.0,850.0,830,...,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2,2,2013,1,1,542.0,540,2.0,923.0,850,...,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,3,3,2013,1,1,544.0,545,-1.0,1004.0,1022,...,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,4,4,2013,1,1,554.0,600,-6.0,812.0,837,...,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,99995,2013,12,19,814.0,817,-3.0,920.0,931,...,EV,4234,N25134,EWR,BWI,40.0,169,8,17,2013-12-19T13:00:00Z
99996,99996,99996,2013,12,19,815.0,810,5.0,1033.0,1047,...,9E,3741,N293PQ,LGA,MCI,172.0,1107,8,10,2013-12-19T13:00:00Z
99997,99997,99997,2013,12,19,815.0,815,0.0,1117.0,1123,...,B6,281,N298JB,JFK,HOU,216.0,1428,8,15,2013-12-19T13:00:00Z
99998,99998,99998,2013,12,19,815.0,749,26.0,1113.0,1103,...,UA,623,N504UA,EWR,SAN,337.0,2425,7,49,2013-12-19T12:00:00Z
99999,99999,99999,2013,12,19,816.0,800,16.0,1130.0,1118,...,UA,997,N536UA,EWR,LAX,346.0,2454,8,0,2013-12-19T13:00:00Z

**b.** Find the memory usage programmatically (hint: use `help`)

In [40]:
variable = flights.memory_usage().sum()/1000000
variable

16.800128

**c.** Find the number of missing entries for each column.

In [37]:
flights.isna().sort_values(ascending=False)

TypeError: sort_values() missing 1 required positional argument: 'by'

**d.** What columns are unnecessary? Remove them so that the `df` doesn't include them.

**e.** Carrier/airline information is located below. Use the information in there to create a new column with a human-readable airline name.

```
"9E" "Endeavor Air Inc.",
"AA" "American Airlines Inc.",
"AS" "Alaska Airlines Inc.",
"B6" "JetBlue Airways",
"DL" "Delta Air Lines Inc.",
"EV" "ExpressJet Airlines Inc.",
"F9" "Frontier Airlines Inc.",
"FL" "AirTran Airways Corporation",
"HA" "Hawaiian Airlines Inc.",
"MQ" "Envoy Air",
"OO" "SkyWest Airlines Inc.",
"UA" "United Air Lines Inc.",
"US" "US Airways Inc.",
"VX" "Virgin America",
"WN" "Southwest Airlines Co.",
"YV" "Mesa Airlines Inc.",

```

In [ ]:
#apply a function

**Part 2** 

Now we need to fix the missing rows and values.

**a.** Check out the rows missing values for "dep_delay". Can we keep them? If not, remove those rows.

(note: we're only interested in rows with flight time information)

**b.** Now check out the rows missing "arr_time". Can we keep them? Drop them if not.

**c.** Now let's check out the rows missing `air_time`. Can we keep them? Drop them if not.

**Part 3**

Making observations of what we have.

**a.** What flight was the longest? Where did it leave from and where did it land?

You might need to look up airport codes.

**b.** What flight was the shortest?

**c.** What airline flied the most during this period?

hint: `.size()`

**d.** Which destination was most flown to?

**e.** Which location was flown from the most?

**f.** Which flight had the longest departure delay?

**g.** Which flight had the longest arrival delay? Should match the previous.

**h.** Which airline had the longest arrival delays on average?

**i.** Which airline had the longest departure delays on average?

**j.** Which aircraft (going by tailnumber) flew the most?

**Bonus:** What day had the most flights?

**Part 4**

Using one (or more) of the exercises from **Part 3**, plot the information in a matplotlib chart that has correct ticks, labels, titles and axis. Also ensure that the chart type that you use is the correct one for plotting the data you're using. Create a chart you would proudly show an employer.