<div style="background: #000;
            color: #FFF;
            margin: 0px;
            padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Week 19 Lab</h1>
</div>

For this lab, we'll be using the `flights.txt` file located in `/datasets`.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**Part 1**

Open `../datasets/flights.txt`. Use the methods we've learned in class to analyze the dataset from the top-level (see how many rows it has, how many null values, what columns are necessary, etc.).

**a.** read the file into a dataframe (hint: as a csv)

In [2]:
flights = pd.read_csv("flights.txt", sep="|")

**b.** Find the memory usage programmatically (hint: use `help`)

In [3]:
variable = flights.memory_usage().sum()/1000000
variable

16.800128

**c.** Find the number of missing entries for each column.

In [4]:
flights.isna().sum().sort_values(ascending=False)

arr_delay         2146
air_time          2146
arr_time          1964
dep_time          1894
dep_delay         1894
tailnum            547
Unnamed: 0.1         0
year                 0
month                0
day                  0
sched_dep_time       0
time_hour            0
sched_arr_time       0
minute               0
carrier              0
flight               0
origin               0
dest                 0
distance             0
hour                 0
Unnamed: 0           0
dtype: int64

**d.** What columns are unnecessary? Remove them so that the `df` doesn't include them.

In [5]:
#the unnamed columns seem unnecesary because we don't have a context of what they stand for
#in the dataframe
flights = flights.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)

**e.** Carrier/airline information is located below. Use the information in there to create a new column with a human-readable airline name.

```
"9E" "Endeavor Air Inc.",
"AA" "American Airlines Inc.",
"AS" "Alaska Airlines Inc.",
"B6" "JetBlue Airways",
"DL" "Delta Air Lines Inc.",
"EV" "ExpressJet Airlines Inc.",
"F9" "Frontier Airlines Inc.",
"FL" "AirTran Airways Corporation",
"HA" "Hawaiian Airlines Inc.",
"MQ" "Envoy Air",
"OO" "SkyWest Airlines Inc.",
"UA" "United Air Lines Inc.",
"US" "US Airways Inc.",
"VX" "Virgin America",
"WN" "Southwest Airlines Co.",
"YV" "Mesa Airlines Inc.",

```

In [6]:
values = {"9E":"Endeavor Air Inc.",
"AA":"American Airlines Inc.",
"AS":"Alaska Airlines Inc.",
"B6":"JetBlue Airways",
"DL":"Delta Air Lines Inc.",
"EV":"ExpressJet Airlines Inc.",
"F9":"Frontier Airlines Inc.",
"FL":"AirTran Airways Corporation",
"HA":"Hawaiian Airlines Inc.",
"MQ":"Envoy Air",
"OO":"SkyWest Airlines Inc.",
"UA":"United Air Lines Inc.",
"US":"US Airways Inc.",
"VX":"Virgin America",
"WN":"Southwest Airlines Co.",
"YV":"Mesa Airlines Inc."}

flights['airline_name'] = flights['carrier'].map(values)

In [7]:
flights = flights.reindex(['year',
 'month',
 'day',
 'dep_time',
 'sched_dep_time',
 'dep_delay',
 'arr_time',
 'sched_arr_time',
 'arr_delay',
 'carrier',
 'airline_name',
 'flight',
 'tailnum',
 'origin',
 'dest',
 'air_time',
 'distance',
 'hour',
 'minute',
 'time_hour'],axis=1)

In [8]:
pd.options.display.max_colwidth = 100

In [9]:
flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,airline_name,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,United Air Lines Inc.,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,United Air Lines Inc.,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,American Airlines Inc.,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,JetBlue Airways,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,Delta Air Lines Inc.,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2013,12,19,814.0,817,-3.0,920.0,931,-11.0,EV,ExpressJet Airlines Inc.,4234,N25134,EWR,BWI,40.0,169,8,17,2013-12-19T13:00:00Z
99996,2013,12,19,815.0,810,5.0,1033.0,1047,-14.0,9E,Endeavor Air Inc.,3741,N293PQ,LGA,MCI,172.0,1107,8,10,2013-12-19T13:00:00Z
99997,2013,12,19,815.0,815,0.0,1117.0,1123,-6.0,B6,JetBlue Airways,281,N298JB,JFK,HOU,216.0,1428,8,15,2013-12-19T13:00:00Z
99998,2013,12,19,815.0,749,26.0,1113.0,1103,10.0,UA,United Air Lines Inc.,623,N504UA,EWR,SAN,337.0,2425,7,49,2013-12-19T12:00:00Z
99999,2013,12,19,816.0,800,16.0,1130.0,1118,12.0,UA,United Air Lines Inc.,997,N536UA,EWR,LAX,346.0,2454,8,0,2013-12-19T13:00:00Z

**Part 2** 

Now we need to fix the missing rows and values.

**a.** Check out the rows missing values for "dep_delay". Can we keep them? If not, remove those rows.

(note: we're only interested in rows with flight time information)

In [10]:
test = flights.copy()
test

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,airline_name,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,United Air Lines Inc.,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,United Air Lines Inc.,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,American Airlines Inc.,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,JetBlue Airways,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,Delta Air Lines Inc.,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2013,12,19,814.0,817,-3.0,920.0,931,-11.0,EV,ExpressJet Airlines Inc.,4234,N25134,EWR,BWI,40.0,169,8,17,2013-12-19T13:00:00Z
99996,2013,12,19,815.0,810,5.0,1033.0,1047,-14.0,9E,Endeavor Air Inc.,3741,N293PQ,LGA,MCI,172.0,1107,8,10,2013-12-19T13:00:00Z
99997,2013,12,19,815.0,815,0.0,1117.0,1123,-6.0,B6,JetBlue Airways,281,N298JB,JFK,HOU,216.0,1428,8,15,2013-12-19T13:00:00Z
99998,2013,12,19,815.0,749,26.0,1113.0,1103,10.0,UA,United Air Lines Inc.,623,N504UA,EWR,SAN,337.0,2425,7,49,2013-12-19T12:00:00Z
99999,2013,12,19,816.0,800,16.0,1130.0,1118,12.0,UA,United Air Lines Inc.,997,N536UA,EWR,LAX,346.0,2454,8,0,2013-12-19T13:00:00Z

In [11]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year            100000 non-null  int64
 1   month           100000 non-null  int64
 2   day             100000 non-null  int64
 3   dep_time        98106 non-null   float64
 4   sched_dep_time  100000 non-null  int64
 5   dep_delay       98106 non-null   float64
 6   arr_time        98036 non-null   float64
 7   sched_arr_time  100000 non-null  int64
 8   arr_delay       97854 non-null   float64
 9   carrier         100000 non-null  object
 10  airline_name    100000 non-null  object
 11  flight          100000 non-null  int64
 12  tailnum         99453 non-null   object
 13  origin          100000 non-null  object
 14  dest            100000 non-null  object
 15  air_time        97854 non-null   float64
 16  distance        100000 non-null  int64
 17  hour            100000 non-null  int64
 18  minute          100000 non-null  int64
 19  time_hour       100000 non-null  object
dtypes: float64(5), int64(9), object(6)
memory usage: 15.3+ MB

In [12]:
test.isna().sum().sort_values(ascending=False)

arr_delay         2146
air_time          2146
arr_time          1964
dep_time          1894
dep_delay         1894
tailnum            547
time_hour            0
month                0
day                  0
sched_dep_time       0
sched_arr_time       0
carrier              0
minute               0
airline_name         0
flight               0
origin               0
dest                 0
distance             0
hour                 0
year                 0
dtype: int64

In [13]:
test.dropna(inplace=True)

In [14]:
test.isna().sum().sort_values(ascending=False)

time_hour         0
minute            0
month             0
day               0
dep_time          0
sched_dep_time    0
dep_delay         0
arr_time          0
sched_arr_time    0
arr_delay         0
carrier           0
airline_name      0
flight            0
tailnum           0
origin            0
dest              0
air_time          0
distance          0
hour              0
year              0
dtype: int64

In [15]:
test.shape

(97854, 20)

**b.** Now check out the rows missing "arr_time". Can we keep them? Drop them if not.

In [ ]:
#already removed

**c.** Now let's check out the rows missing `air_time`. Can we keep them? Drop them if not.

In [ ]:
#already removes

**Part 3**

Making observations of what we have.

**a.** What flight was the longest? Where did it leave from and where did it land?

You might need to look up airport codes.

**b.** What flight was the shortest?

**c.** What airline flied the most during this period?

hint: `.size()`

**d.** Which destination was most flown to?

**e.** Which location was flown from the most?

**f.** Which flight had the longest departure delay?

**g.** Which flight had the longest arrival delay? Should match the previous.

**h.** Which airline had the longest arrival delays on average?

**i.** Which airline had the longest departure delays on average?

**j.** Which aircraft (going by tailnumber) flew the most?

**Bonus:** What day had the most flights?

**Part 4**

Using one (or more) of the exercises from **Part 3**, plot the information in a matplotlib chart that has correct ticks, labels, titles and axis. Also ensure that the chart type that you use is the correct one for plotting the data you're using. Create a chart you would proudly show an employer.