<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Python Data Science Course - Week 1 - Day 3</h1>
</div>

## Todays Agenda
* Logic Fun
* Ints vs. Floats
* Math in Python
* Discuss homework assignments

## Logic Fun

### Truth Tables

	True	      False		Identity   	Negation
	p	T		p	F		p	p		p   ¬P
	T	T		T	F		T	T		T	F
	F	T		F	F		F	F		F	T

	AND      OR       XOR     NAND
	p & q	p || q   p ⊕ q   p  NAND  q
	T T T	T T  T   T F T   T    F   T
	T F F	T T  F   T T F   T    T   F
	F F T	F T  T   F T T   F    T   T
	F F F	F F  F   F F F   F    T   F
	

Can You Answer these? How about in python?      

¬(p & q )    




( p || q ) & ( ¬p || ¬q)

# DIscuss python solutions for logic fun

In [25]:
p = True
q = False
not (p and q)

False

In [27]:
(p or q) and (not p or not q)

False

# Notes from yesterday

In [ ]:
first_adjective = input("enter an adjective")
second_adjective = input("enter and adjective")
first_noun = input("enter a noun")
first_verb = input("enter a verb")
second_noun = input("enter a noun")
third_noun = input("enter a noun")
day = input("enter a day")
person = input("enter a person")
second_verb = input("enter a verb")
weather = input("enter a weather")
crazy_event = input("enter a crazy event")
action_in_response = input("enter an action")
number = input("enter a number")
time_of_arrival = input("enter a time of arrival")
action = input("enter a action")
condition = input("enter a condition")
meeting_event = input("enter a meeting event")

mad_lib = f"It was a {first_adjective}, cold November day. I woke up to the {second_adjective} smell of {first_noun} downstairs. I quickly got ready, grabbing my {second_noun} and ran downstairs to {first_verb} the {third_noun}. It was {day} and I was late! I rushed outside to see {person} at the bodega {second_verb}. I had no time for that and it was {weather} outside so I headed to the subway. On the train, I see {crazy_event} so I {action_in_response}. I finally get to my stop and leave the train. I'm {number} minutes {time_of_arrival} so I {action}. I get to the meeting {condition} only to find out that {meeting_event}"

print(mad_lib)

### bools

In [1]:
print("hello") and print("hello")

hello

In [2]:
print("hello") and True

hello

In [4]:
# print("hello") 
True and False

False

In [5]:
True and print("hello")

hello

In [6]:
False and print("hello")

False

In [7]:
print("hello") or print("goodbye")

hello
goodbye

In [8]:
print("hello") or True

hello

True

In [3]:
True == 1

True

In [4]:
False == 0

True

In [5]:
True == 939

False

In [6]:
False == -323

False

In [7]:
bool(0), bool(0.00), bool(0j) #Any type of zero returns false

(False, False, False)

In [8]:
bool(None)

False

In [9]:
bool(()), bool([]), bool({}) #because they are all empty

(False, False, False)

In [10]:
bool(5) #bool with any number that is not zero, it will be true

True

In [11]:
class Example:
    def __init__(self):
        pass
    def __bool__(self):
        return False
    def __len__(self):
        return 5                       #constructor which is like a template to create prototypes

e = Example()             #creates the prototype from the cronstructor
    
len(e)     #to ask Diana

5

# Ints

In [ ]:
variable = 45

In [ ]:
type(variable)

# common math operations

In [12]:
variable = 10 + 10

print(variable)

20

In [13]:
variable = 10 - 10

print(variable)

0

In [14]:
variable = -10 + 10
print(variable)

0

In [ ]:
# some useful tricks

# adding/subtracting an amount to a variable:
variable += 5
variable -= 5

In [ ]:
# multiplication

variable = 5 * 5

# using exponents

variable2 = 5 ** 5

print(variable, variable2)

# Examples using python as a calculator

Say you had a company that ran projects with a budgeted amount of $1000 per project. Of that amount, you spend money for supplies and labor. Often, you don't use the full budget. Your boss asks you weekly to generate a list of the leftover funds. 

Let's use python to create a script that will allow us to enter the values and generate that list easily.

balance: int = 1000
    
cost_of_supplies = int(input("Enter the cost for supplies"))
cost_of_labor = int(input("Enter the cost for supplies"))
balance = budget - (cost_of_supplies + cost_of_labor)
print(balance)

In [16]:
balance: int = 1000
    
cost_of_supplies = int(input("Enter the cost for supplies"))
cost_of_labor = int(input("Enter the cost for supplies"))
balance -= (cost_of_supplies + cost_of_labor)
print(balance)

Enter the cost for supplies50
Enter the cost for supplies500
450

In [17]:
sum(s)

NameError: name 's' is not defined

# More complicated examples

In [12]:
# Floor division

14 // 3 # discards fractional part

4

In [ ]:
# Remainder operation

14 % 3 # returns remainder

In [18]:
# putting that together:

w = 17 // 3
w

5

In [19]:
x = 17 % 3
x

2

In [20]:
y = w, x    #tuple
y

(5, 2)

In [21]:
w * 3 + x

17

In [ ]:
# multiplication gets tricky

In [13]:
print(type(5))
print(type(3))
print(type(5/3))

<class 'int'>
<class 'int'>
<class 'float'>

In [14]:
type(4.)

float

In [15]:
22/7.

3.142857142857143

In [16]:
import math
math.pi.as_integer_ratio()

(884279719003555, 281474976710656)

In [1]:
884279719003555/281474976710656

3.141592653589793

# Floats
***

The float type in CPython uses a C double for storage. A float object’s value is stored in binary floating-point with a fixed precision (typically 53 bits) and Python uses C operations, which in turn rely on the hardware implementation in the processor, to perform floating-point operations. This means that as far as floating-point operations are concerned, Python behaves like many popular languages including C and Java.

Floats:
1. Sign bit
2. Fractional part digits
3. Exponent part digits



1. bit for negative/postive
2. bits to expand as follows:  
$
01101101 - 0*2^{-1} + 1*2^{-2} + 1*2^{-3} + 0*2^{-4} + 1*2^{-5} + 1*2^{-6} + 0*2^{-7} + 1*2^{-8} = 0.42578125
$
3. bits for exponent:
$
11000011 - 1*2^7 + 1*2^6 + 0*2^5 + 0*2^4 + 0*2^3 + 0*2^2 + 1*2^1 + 1*2^0 = 195
$


sign * fractional part ** exponent

In [22]:
0*2**-1 + 1*2**-2 + 1*2**-3 + 0*2**-4 + 1*2**-5 + 1*2**-6 + 0*2**-7 + 1*2**-8

0.42578125

In [23]:
sum([int(j) * 2 **-(i+1) for i, j in enumerate('01101101')])

0.42578125

In [24]:
1*2**7 + 1*2**6 + 0*2**5 + 0*2**4 + 0*2**3 + 0*2**2 + 1*2**1 + 1*2**0

195

In [25]:
sum([int(j) * 2 **(i) for i, j in enumerate('11000011')])

195

1 2 3 4 5 6 7 8 9 10

1.00 1.01 1.02 .. 1.99 2.00 99

1.00000000000000000000000000000...
2.000000000000000000000000000000000000000000000...
1.0 ... 2.0

In [ ]:
1/3.

In [26]:
import math

type(math.pi)

float

In [27]:
format(math.pi, '.12f')

'3.141592653590'

In [28]:
format(math.pi, '.2f')

'3.14'

In [29]:
format(0.1, '.17f')  #f stands for float

'0.10000000000000001'

In [30]:
0.1 + 0.1 + 0.1 == 0.3  
#it will be false because there are infinite 
#numbers after the decimal.

False

In [31]:
round(0.1 + 0.1 + 0.1, 10) == round(0.3, 10)  
# they are both being rounded at the same digit 
#after the decimal

True

In [32]:
(0.1).as_integer_ratio()

(3602879701896397, 36028797018963968)

In [33]:
from decimal import getcontext, Decimal
getcontext().prec = 6
Decimal(1)/Decimal(7)

Decimal('0.142857')

In [ ]:
getcontext().prec = 28
Decimal(1)/Decimal(7)

In [ ]:
getcontext().prec = 2
Decimal(1)/Decimal(7)

In [ ]:
from fractions import Fraction
Fraction.from_float(0.25)

In [ ]:
Fraction.from_float(0.33333)

# More Python

## Useful Built In Functions

|               |             |              |              |                |
|---------------|-------------|--------------|--------------|----------------|
| abs()         | delattr()   | hash()       | memoryview() | set()          |
| all()         | dict()      | help()       | min()        | setattr()      |
| any()         | dir()       | hex()        | next()       | slice()        |
| ascii()       | divmod()    | id()         | object()     | sorted()       |
| bin()         | enumerate() | input()      | oct()        | staticmethod() |
| bool()        | eval()      | int()        | open()       | str()          |
| breakpoint()  | exec()      | isinstance() | ord()        | sum()          |
| bytearray()   | filter()    | issubclass() | pow()        | super()        |
| bytes()       | float()     | iter()       | print()      | tuple()        |
| callable()    | format()    | len()        | property()   | type()         |
| chr()         | frozenset() | list()       | range()      | vars()         |
| classmethod() | getattr()   | locals()     | repr()       | zip()          |
| compile()     | globals()   | map()        | reversed()   | \__import__()   |
| complex()     | hasattr()   | max()        | round()      |                |

### `abs(x)` -> returns absolute value of x

In [ ]:
abs(10)   #returns the absolute value of an integer

In [ ]:
abs(-10)

In [ ]:
abs(0)

### `bool(x)` -> casts x as bool

In [ ]:
bool(0), bool(""), bool(None)  #if the lenght of it is zero then it will be False

In [ ]:
bool(1), bool(24)

In [ ]:
bool(True), bool(4), bool("s")

### `callable(x)` -> returns True if x is a function

In [ ]:
callable(print) #if is executable

In [ ]:
callable(bool)

In [ ]:
s = "string"
callable(s)

### `dict()` -> returns dict

In [1]:
d = dict()  #to create a dictionary
d = {}
type(d)

dict

### `dir(x)` -> returns attributes and methods of object x

In [2]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [3]:
dir(help)

['__call__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

 ### `float(x)` -> casts x to a float

In [ ]:
float(1)

In [ ]:
float("1") #converted string into a float

In [ ]:
float("s") #what is inside the string can't be converted into a float because 
#is not an integer


### `hex(x)` -> casts int x as a hex

In [ ]:
hex(0)

In [ ]:
hex(0.0)

In [ ]:
hex("0")

### `id(x)` -> returns id for object x

In [35]:
s = "string"  #since string is not immutable it will have the same id as variable d
d = "string"
e = "strin"
f = e[:]
g = s[:-1]    #is equal to s but minus the last index. so creating a new string made dif id
h = d[:-1]
print(f)
id(s), id(d), id(e), id(f), id(g), id(h)

strin

(140456925668784,
 140456925668784,
 140456961869552,
 140456961869552,
 140456961878384,
 140456961876144)

In [36]:
s is d

True

In [37]:
s == d

True

In [ ]:
e == g   #if what is inside is identical. Contents are the same

In [ ]:
e is g  #two different memory addresses

In [ ]:
s = [4, 5]
d = [4, 5]
id(s), id(d)

In [ ]:
s is d

In [ ]:
s == d

### `input()`  -> returns user input

In [ ]:
input()

In [ ]:
s = input()

In [ ]:
s

### `int(x)` -> casts x as int

In [ ]:
int(0)  #turn arguments into integer

In [ ]:
int("1")

In [ ]:
int("1.00293")  #ValueError because float can't be turned into integer

In [ ]:
int(True)

### `len(x)` -> returns count of x

In [ ]:
len("string")  #counts the elements

In [ ]:
len([1,2,3,4])

In [ ]:
len((1,2,3,4))

In [ ]:
len({'a':1, 'b':2})

### `list()`  -> returns list

In [ ]:
l = list()

In [ ]:
l.append(4)

In [ ]:
l

### `pow(x, y)` -> returns x to the y power

In [4]:
pow(2,4)

16

In [5]:
pow(25,2)

625

### `print()`  -> prints argument

In [ ]:
print("hello")

In [ ]:
print(25)

In [ ]:
print(True)

### `range()`  returns iterable of sequential values

In [41]:
list(range(100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [42]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [ ]:
list(range(5,10))  #to make a list of the elements in a range

In [43]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### `round(x)` -> returns x rounded to nearest

In [ ]:
round(132320.0324534521, -5) #negative will round five number before decimal

In [ ]:
round(132320.0324534521, 5)  #rounding to five numbers after decimal

In [ ]:
round(56,100)

### `set()`

In [ ]:
s = set()

In [ ]:
s.add(4)

In [ ]:
s

### `str(x)`  -> casts x as string

In [ ]:
str(718)

In [ ]:
str(True)

In [ ]:
str([2,3,4,5])

In [ ]:
t

### `type()`

In [ ]:
type("string")

### Dunder methods

In [6]:
s = str()
[i for i in dir(s) if i.endswith('_')]

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [ ]:
print(s.__doc__)

In [ ]:
print(s.__str__)

In [ ]:
print(s.__repr__)

In [ ]:
print(s.__len__)

In [ ]:
print(s.__class__)

In [ ]:
print(s.__dir__)

In [ ]:
print(s.__init__)

In [ ]:
bool.__doc__

# Built In Exceptions

In [ ]:
"123"[9] #index out of range

In [ ]:
try:
    "123"[9]
except Exception as e:
    print(e)    #catch the error and do something w it for example- print the error message

In [ ]:
raise Exception

In [ ]:
type(Exception)

# Python Documentation

In [ ]:
help()

<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Extended Lab</h1>
</div>

### Question 1: 

Explain what data types are in your own words.

There are 4 major data types: Sring, Integer, Boolean and Float. A string is any character or sentence in between quotation marks (""). Integers are whole numbers and floats are decimals (example 5.6). Lastly, boolen variables have two values: true and false. Booleans are often used to control the flow of the program since the answer to this statements might determine the outputs.

## Question 2:

In your own words, explain what a float is and why sometimes it gives an incorrect value.

Since the computer is trying to give the more exact example of a decimal, because there are infitinite possible numbers after the decimal it will never be 100% exact and overtime there will be a space for error or we might get a tiny little error.

### Exercise 1:

Store your first name, in lowercase, in a variable.
Using that one variable, print your name in lowercase, Titlecase, and UPPERCASE.

In [ ]:
name = "clariza"
print(name)
name_title = name.title()
print(name_title)
name_uppercase = name.upper()
print(name_uppercase)

### Exercise 2:

Find a quote that you like. Store the quote in a variable, with an appropriate introduction such as "Ken Thompson once said, 'One of my most productive days was throwing away 1000 lines of code'". Print the quote 1000 times.

In [ ]:
quote = "Dolly Parton once said, 'The way I see it, if you want the rainbow, you gotta put up with the rain.'"
for n in range(1000):
    print(quote)

### Exercise 3:

Use python string operations and methods to use the following variables to print this:

    "hello world"

In [ ]:
message_1 = "hELlo"
message_2 = "                              wor"
message_3 = "wbdaloqteldndyrcggzf"
message_3 = " "
message_1_lower = message_1.lower()
new_message_2 = message_2.lstrip()
new_string = message_1_lower + message_3 + new_message_2 + "ld"
print (new_string)

### Exercise 4

Fix the following code so it prints properly

In [6]:
# Dollar amounts should only have two digits after the decimal
print("The price is $%.2f." % (3.44444))

The price is $3.44.

In [ ]:
# Complete the code so it prints your name and what you're learning
name = input("enter your name: ")
language = input("enter the language you are learning: ")

print("{} is learning {}".format(name,language))

### Exercise 5

Create your own mad-lib with at least 5 inputs.

In [2]:
name = input("enter your name: ")
age = input("enter your age: ")
country = input("enter where you are from: ")
animal = input("enter your first favorite animal: ")
second_animal = input("enter your second favorite animal: ")


mad_lib = f"My name is {name} and I am {age}. I come from {country}. My favorite animals are {animal} and {second_animal}"

print(mad_lib)

enter your name: clariza
enter your age: 27
enter where you are from: mexico
enter your first favorite animal: cat
enter your second favorite animal: dog
My name is clariza and I am 27. I come from mexico. My favorite animals are cat and dog