<a href="#" id="hw"></a>
<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1 style="padding: 0px 0px 0px 0px;">Week 15 Lab</h1>
</div>

# Exercise 1

a) Create a dictionary with fake data and use it to create a dataframe

In [3]:
import pandas as pd
dictionary =         {
            "Animal": [
                "Cat",
                "Cat",
                "Dog",
                "Cat",
                "Cat",
                "Cat"
            ],
            "Name": ["Mowgli", "Melo", "Jenna", 
                     "Tigrito", "Paquito", "Cutie"],
            "Sex": ["Female", "Female", "female", 
                    "Male", "Male", "Male"],
            "Age": [3, 2, 4, 
                    7, 7, 10]
       }
df = pd.DataFrame(dictionary)

In [4]:
df

  Animal     Name     Sex  Age
0    Cat   Mowgli  Female    3
1    Cat     Melo  Female    2
2    Dog    Jenna  female    4
3    Cat  Tigrito    Male    7
4    Cat  Paquito    Male    7
5    Cat    Cutie    Male   10

b)Create a list of values and use it to create a series.

In [5]:
val_lst = ["Yellow","Green", "Blue", "Yellow"]
names = pd.Series(val_lst, name="colors")
names

0    Yellow
1     Green
2      Blue
3    Yellow
Name: colors, dtype: object

In [ ]:
location = pd.Series(["Brooklyn", "Bronx", "Bronx"], name="Location")
location

c) Using either the dataframe or the series above, output the count, mean and standard deviation of it.

In [ ]:
#using the DataFrame.agg() method:
df.agg(
        {
            "Animal": ["count", "mean","std"],
            "Name": ["count", "mean","std"],
            "Sex" : ["count", "mean","std"],
            "Age" : ["count", "mean","std"]
        }
)

In [ ]:
#checking each one individually
df.count()

In [ ]:
df.mean()

In [ ]:
df.std()

# Exercise 2

For the next parts of today's lab we will be using the `grades.csv` file in `/datasets`.

In [ ]:
# initial imports

import pandas as pd

grades = pd.read_csv("grades.csv")

a) Output the first 5 rows of the dataframe

In [ ]:
grades.head()

b) Output the last 5 rows of the dataframe

In [ ]:
grades.tail()

In [ ]:
grades

c) What is the shape of this dataframe?

In [ ]:
grades.shape

d) How many columns are there with no values? How much memory does this df use?

In [ ]:
grades.info()

e) Create a new column called "total score" that is the sum of the math, reading and writing score. Output the dataframe

In [ ]:
grades["total score"] = grades["math score"] + grades["reading score"] + grades["writing score"]

In [ ]:
grades.sort_values("total score", ascending=False)

In [ ]:
grades[5:8]

f) Create a new column called "average score" that is the average of the math, reading, and writing scores. Output the dataframe.

In [ ]:
grades["average score"] = (grades["total score"])/3

In [ ]:
grades.sort_values("average score", ascending=False)

g) What is the average `total score` for each gender? What is the average `avg score` for each gender?

In [ ]:
#average total score by each gender
grades[["gender", "total score"]].groupby("gender").mean()

In [ ]:
#average total score by each gender
grades[["gender", "average score"]].groupby("gender").mean()

h) What is the average math score for each category of lunch? What about reading, writing, total and avg score

In [ ]:
grades[["lunch", "math score","reading score", "writing score", "total score", "average score"]].groupby("lunch").mean()

i) What is the descriptive statistics for each category of `parental level of education`? What about reading, writing, total and avg score

In [ ]:
grades["parental level of education"].describe()

In [ ]:
grades[["reading score", "writing score", "total score", "average score"]].describe()

j) What are the average scores (for all score columns) for each category of `test preparation course`?

In [ ]:
grades[["test preparation course", "math score","reading score", "writing score", "total score", "average score"]].groupby("test preparation course").mean()

k) Output only the score columns

In [ ]:
grades[["reading score", "writing score", "total score", "average score"]]

l) What rows have `avg scores` lower than 80? What percent of the total is that? (try to calculate the last part programmatically)

In [ ]:
#What rows have avg scores lower than 80
below_80 = grades[grades["average score"] < 80]
below_80

In [ ]:
#What percent of the total is that
#total is 1000 rows. 802 of those rows have avg scores lower than 80
(below_80.shape[0]/grades.shape[0]) *100

m) What are the `avg score`, `gender` and `lunch` columns for all students with avg scores above 90. Sort it in descending order by `avg score`. Store it to a new dataframe and then output the new dataframe.

In [ ]:
new_dataframe = grades.loc[grades["average score"] > 90, ["average score", "gender", "lunch"]].sort_values("average score", ascending=False) 
new_dataframe

m) How many rows are in the new dataframe? What percent of the new dataframe are female? What percent receive free/reduced lunch?

In [ ]:
#How many rows are in the new dataframe
new_dataframe.shape[0]

In [ ]:
#What percent of the new dataframe are female= 72%
(new_dataframe["gender"].value_counts()/new_dataframe.shape[0]) *100

In [ ]:
#What percent receive free/reduced lunch = 8%
(new_dataframe["lunch"].value_counts()/new_dataframe.shape[0]) *100

n) Using the original dataframe, what is the `avg score` for each of the `gender`, `lunch` and `parental education level` column combinations?

In [ ]:
grades.groupby(["gender", "lunch", "parental level of education"])["average score"].mean()

o) Sort the original dataframe by `gender` and `lunch` in descending order

In [ ]:
grades.sort_values(["gender", "lunch"], ascending=False)

p) Based on your exercises above, what sort of inferences can you make so far? What would you want to look further into? What factor seems to affect `avg` score the most? Explain your answer.

It seems that gender directly affects the average score the most. Of the top 50 students- 72% were female. Another fator seems to be lunch. Of the top 50 students- 92% had standard lunch.

I will like to create more intervals and separate the data into multiple databses according to grade. Perhaps do similar calculations on these intervals to see if we see the same patterns with gender and lunch.

# Bonus