<div style="background: #000;
            color: #FFF;
            margin: 0px;
            padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Week 18 Lab</h1>
</div>

For today's lab, we'll be using the Marvel comic book characters data set available from [538](https://github.com/fivethirtyeight/data/tree/master/comic-characters)

The data comes from [Marvel Wikia](http://marvel.wikia.com/Main_Page) and [DC Wikia](http://dc.wikia.com/wiki/Main_Page). Characters were scraped on August 24. Appearance counts were scraped on September 2. The month and year of the first issue each character appeared in was pulled on October 6.

The data is split into two files, for DC and Marvel, respectively: `dc-wikia-data.csv` and `marvel-wikia-data.csv`. Each file has the following variables:

Variable | Definition
---|---------
`page_id` | The unique identifier for that characters page within the wikia
`name` | The name of the character
`urlslug` | The unique url within the wikia that takes you to the character
`ID` | The identity status of the character (Secret Identity, Public identity, [on marvel only: No Dual Identity])
`ALIGN` | If the character is Good, Bad or Neutral
`EYE` | Eye color of the character
`HAIR` | Hair color of the character
`SEX` | Sex of the character (e.g. Male, Female, etc.)
`GSM` | If the character is a gender or sexual minority (e.g. Homosexual characters, bisexual characters)
`ALIVE` | If the character is alive or deceased
`APPEARANCES` | The number of appareances of the character in comic books (as of Sep. 2, 2014. Number will become increasingly out of date as time goes on.)
`FIRST APPEARANCE` | The month and year of the character's first appearance in a comic book, if available
`YEAR` | The year of the character's first appearance in a comic book, if available

Importing the libraries we'll be using

In [1]:
import numpy as np 
import pandas as pd 
import datetime

Let's open the `marvel-wikia-data.csv` file and generate a dataframe. Then we'll check the top of the `df` to see what we have.

In [2]:
df = pd.read_csv("marvel-wikia-data.csv")

As you can see we have a couple of issues:
* The column `names` has, in some cases, both the hero name and their secret identity. In other cases, it has the universe the hero is from (usually Earth-616). We'd like for `name` to be the superhero. If a secret identity name is available, we'd like for that to be in it's own column. We'd also like a column `origin` for the superhero's place of origin (usually Earth-616).
* ✓ The `urlslug` column is incorrect. We'd like for that to be a complete link. For example, spiderman's wikia link is https://marvel.fandom.com/wiki/Peter_Parker_(Earth-616) but if you use the `Spider-Man_(Peter_Parker)` from the `urlslug` (https://marvel.fandom.com/wiki/Spider-Man_(Peter_Parker), the page redirects to the correct page. You can choose to fix it various different ways but it should be a working link. Use "https://marvel.fandom.com/wiki/" as the beginning of your url.
* ✓ For the column `align`, we'd like for the "Characters" part to be removed. We'd like for that column to be categorical (Good, Neutral, Evil or blank).
* ✓ Same for the columns `EYE`, `HAIR`, `SEX` and `ID`. We want to drop the extraneous data and have simple categories (e.g. for `ID` we want categories ["Known","Public", "Secret", "None"] and for `SEX` we just want ["Male", "Female","Genderfluid","Agender"]. There's a way shown below that shows the various possible categories.
* ✓ Some data is in the wrong format. For example, `Year` and `APPEARANCES` are floats but they really should be ints (as you cannot have a non-int number of appearances). 
* Some data doesn't match up (like the `FIRST APPEARANCE` and `Year` columns might have not be the same year)
* Some columns are unnecessary. Some are missing data. Some rows are duplicates. Fix those as necessary.
* Some column names are written as uppercase, some are lowercase and some are mixed case. Normalize them so all the column names are in the same format.

Fix as many of these issues as you're able to. At the minimum, complete 4 of the above bulletpoints.

#### 1. We'd like for that column to be categorical (Good, Neutral, Evil or blank).

In [3]:
df['ALIGN'] = df['ALIGN'].str.split(" ").str[0]

In [4]:
df["ALIGN"] = df["ALIGN"].replace(["Bad"], "Evil")

In [5]:
#blank values
df["ALIGN"].isna().sort_values(ascending=False)

11838     True
2244      True
2227      True
13469     True
2228      True
         ...
10316    False
10315    False
10314    False
10313    False
0        False
Name: ALIGN, Length: 16376, dtype: bool

In [31]:
def see_possible_categories(col):
    return df.groupby(col).sum()
    
see_possible_categories("GSM")

                         page_id  APPEARANCES    Year
GSM
Bisexual Characters      1141344         4616   37748
Genderfluid Characters     23853           33    2005
Homosexual Characters   14002592         2845  121817
Pansexual Characters        2023          150    1984
Transgender Characters    672991           69    4004
Transvestites               1409          500    1991

<div style="background: #000;
            color: #FFF;
            margin: 0px;
            padding: 3px 0px 3px 0px;
            text-align: center; 
                ">
</div>

#### 2. Removing extraneous data from EYE, HAIR, SEX,ALIVE and ID 
#### ID ["Known","Public", "Secret", "None"]  and SEX ["Male", "Female","Genderfluid","Agender"]

In [7]:
df['EYE'] = df['EYE'].str.split(' ').str[0]

In [8]:
df['HAIR'] = df['HAIR'].str.split(' ').str[0]

In [9]:
df['SEX'] = df['SEX'].str.split(' ').str[0]

In [10]:
df['ALIVE'] = df['ALIVE'].str.split(' ').str[0]

In [11]:
df['ID']= df['ID'].str.split(' ').str[0]

In [12]:
df["ID"] = df["ID"].replace(["No"], "None")

In [13]:
df["ID"] = df["ID"].fillna("None")

<div style="background: #000;
            color: #FFF;
            margin: 0px;
            padding: 3px 0px 3px 0px;
            text-align: center; 
                ">
</div>

#### 3. Some data is in the wrong format. For example, `Year` and `APPEARANCES` are floats but they really should be ints (as you cannot have a non-int number of appearances).

In [15]:
df["APPEARANCES"]= df["APPEARANCES"].astype('Int64')   #Converted into int but NaN is now <NaN> does that matter?
df["Year"]= df["Year"].astype('Int64')

In [16]:
df["APPEARANCES"]

0        4043
1        3360
2        3061
3        2961
4        2258
         ...
16371    <NA>
16372    <NA>
16373    <NA>
16374    <NA>
16375    <NA>
Name: APPEARANCES, Length: 16376, dtype: Int64

<div style="background: #000;
            color: #FFF;
            margin: 0px;
            padding: 3px 0px 3px 0px;
            text-align: center; 
                ">
</div>

#### 4. from the `urlslug` (https://marvel.fandom.com/wiki/Spider-Man_(Peter_Parker), the page redirects to the correct page. You can choose to fix it various different ways but it should be a working link. Use "https://marvel.fandom.com/wiki/" as the beginning of your url.

In [17]:
df["urlslug"] = "https://marvel.fandom.com/wiki/" + df["urlslug"].str[2:]

In [18]:
#changint the display so that the link appears complete and we can click it to open in browser
pd.options.display.max_colwidth = 100

In [19]:
df["urlslug"].head()

0                https://marvel.fandom.com/wiki/Spider-Man_(Peter_Parker)
1          https://marvel.fandom.com/wiki/Captain_America_(Steven_Rogers)
2    https://marvel.fandom.com/wiki/Wolverine_(James_%22Logan%22_Howlett)
3      https://marvel.fandom.com/wiki/Iron_Man_(Anthony_%22Tony%22_Stark)
4                      https://marvel.fandom.com/wiki/Thor_(Thor_Odinson)
Name: urlslug, dtype: object

<div style="background: #000;
            color: #FFF;
            margin: 0px;
            padding: 3px 0px 3px 0px;
            text-align: center; 
                ">
</div>

#### Some data doesn't match up (like the FIRST APPEARANCE and Year columns might have not be the same year)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16376 entries, 0 to 16375
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   page_id           16376 non-null  int64
 1   name              16376 non-null  object
 2   urlslug           16376 non-null  object
 3   ID                16376 non-null  object
 4   ALIGN             13564 non-null  object
 5   EYE               6609 non-null   object
 6   HAIR              12112 non-null  object
 7   SEX               15522 non-null  object
 8   GSM               90 non-null     object
 9   ALIVE             16373 non-null  object
 10  APPEARANCES       15280 non-null  Int64
 11  FIRST APPEARANCE  15561 non-null  object
 12  Year              15561 non-null  Int64
dtypes: Int64(2), int64(1), object(10)
memory usage: 1.7+ MB

<div style="background: #000;
            color: #FFF;
            margin: 0px;
            padding: 3px 0px 3px 0px;
            text-align: center; 
                ">
</div>

#### 5. We'd like for `name` to be the superhero. If a secret identity name is available, we'd like for that to be in it's own column. We'd also like a column `origin` for the superhero's place of origin (usually Earth-616).

In [20]:
df["name"]

0                  Spider-Man (Peter Parker)
1            Captain America (Steven Rogers)
2        Wolverine (James \"Logan\" Howlett)
3          Iron Man (Anthony \"Tony\" Stark)
4                        Thor (Thor Odinson)
                        ...
16371                     Ru'ach (Earth-616)
16372        Thane (Thanos' son) (Earth-616)
16373          Tinkerer (Skrull) (Earth-616)
16374         TK421 (Spiderling) (Earth-616)
16375                  Yologarch (Earth-616)
Name: name, Length: 16376, dtype: object

#### I attempted to do this question but I couldn't complete it. If possible I would like to see how other people accomplished it.

In [27]:
df['name'].str.split(' ')

0                   [Spider-Man, (Peter, Parker)]
1            [Captain, America, (Steven, Rogers)]
2        [Wolverine, (James, \"Logan\", Howlett)]
3         [Iron, Man, (Anthony, \"Tony\", Stark)]
4                         [Thor, (Thor, Odinson)]
                           ...
16371                       [Ru'ach, (Earth-616)]
16372        [Thane, (Thanos', son), (Earth-616)]
16373           [Tinkerer, (Skrull), (Earth-616)]
16374          [TK421, (Spiderling), (Earth-616)]
16375                    [Yologarch, (Earth-616)]
Name: name, Length: 16376, dtype: object

In [ ]:
df["origin"] = df['name'].str.split(' ')

In [ ]:
df["origin"] = df['name'].str.split(' ').str[1:]

In [ ]:
def see_possible_categories(col):
    return df.groupby(col).sum()
    
see_possible_categories("origin")

In [ ]:
df["new_colun"] = df['name'].str.split('(').str[1].replace(")","")
df["new_colun"].replace([")"],"")

In [ ]:
def new_columns(col):
    lst = df['name'].str.split(' ')
    
    
new_columns

In [ ]:
df['name'].str.split(' ').str[2]

In [ ]:
df["secret_identity"] = df['name'].str.split('(',3).str[1]

In [ ]:
df["name"] = df['name'].str.split('(',3).str[0]

In [ ]:
df.columns.tolist()

In [ ]:
df = df.reindex(['page_id',
 'name',
 'secret_identity',
 'origin',
 'urlslug',
 'ID',
 'ALIGN',
 'EYE',
 'HAIR',
 'SEX',
 'GSM',
 'ALIVE',
 'APPEARANCES',
 'FIRST APPEARANCE',
 'Year'], axis=1)

In [28]:
def see_possible_categories(col):
    return df.groupby(col).sum()
    
see_possible_categories("name")

                                                    page_id  APPEARANCES  Year
name
'Spinner (Earth-616)                                 322600            0  2007
107 (Earth-616)                                      116257            1  1994
11-Ball (Earth-616)                                  543479            1  1991
115 (Legion Personality) (Earth-616)                 624448            1  2010
14 (Earth-616)                                       116253            1  1994
...                                                     ...          ...   ...
Zzxz (Earth-616)                                     250460            6  2009
Zzzax (Earth-616)                                      1553           32  1973
\"Spider-Girl\" (Mutant\/Spider Clone) (Earth-616)   689359            0  2013
\"Thumper\" Morgan (Earth-616)                       507442            0  1965
\u00c4kr\u00e4s (Earth-616)                          674537            0  2009

[16376 rows x 3 columns]