<div style="background: #000;
            color: #FFF;
            margin: 0px;
            padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Week 18 Lab</h1>
</div>

For today's lab, we'll be using the Marvel comic book characters data set available from [538](https://github.com/fivethirtyeight/data/tree/master/comic-characters)

The data comes from [Marvel Wikia](http://marvel.wikia.com/Main_Page) and [DC Wikia](http://dc.wikia.com/wiki/Main_Page). Characters were scraped on August 24. Appearance counts were scraped on September 2. The month and year of the first issue each character appeared in was pulled on October 6.

The data is split into two files, for DC and Marvel, respectively: `dc-wikia-data.csv` and `marvel-wikia-data.csv`. Each file has the following variables:

Variable | Definition
---|---------
`page_id` | The unique identifier for that characters page within the wikia
`name` | The name of the character
`urlslug` | The unique url within the wikia that takes you to the character
`ID` | The identity status of the character (Secret Identity, Public identity, [on marvel only: No Dual Identity])
`ALIGN` | If the character is Good, Bad or Neutral
`EYE` | Eye color of the character
`HAIR` | Hair color of the character
`SEX` | Sex of the character (e.g. Male, Female, etc.)
`GSM` | If the character is a gender or sexual minority (e.g. Homosexual characters, bisexual characters)
`ALIVE` | If the character is alive or deceased
`APPEARANCES` | The number of appareances of the character in comic books (as of Sep. 2, 2014. Number will become increasingly out of date as time goes on.)
`FIRST APPEARANCE` | The month and year of the character's first appearance in a comic book, if available
`YEAR` | The year of the character's first appearance in a comic book, if available

Importing the libraries we'll be using

In [28]:
import numpy as np 
import pandas as pd 
import datetime

Let's open the `marvel-wikia-data.csv` file and generate a dataframe. Then we'll check the top of the `df` to see what we have.

In [29]:
df = pd.read_csv("marvel-wikia-data.csv")

As you can see we have a couple of issues:
* The column `names` has, in some cases, both the hero name and their secret identity. In other cases, it has the universe the hero is from (usually Earth-616). We'd like for `name` to be the superhero. If a secret identity name is available, we'd like for that to be in it's own column. We'd also like a column `origin` for the superhero's place of origin (usually Earth-616).
* The `urlslug` column is incorrect. We'd like for that to be a complete link. For example, spiderman's wikia link is https://marvel.fandom.com/wiki/Peter_Parker_(Earth-616) but if you use the `Spider-Man_(Peter_Parker)` from the `urlslug` (https://marvel.fandom.com/wiki/Spider-Man_(Peter_Parker), the page redirects to the correct page. You can choose to fix it various different ways but it should be a working link. Use "https://marvel.fandom.com/wiki/" as the beginning of your url.
* âœ“ For the column `align`, we'd like for the "Characters" part to be removed. We'd like for that column to be categorical (Good, Neutral, Evil or blank).
*  Same for the columns `EYE`, `HAIR`, `SEX` and `ID`. We want to drop the extraneous data and have simple categories (e.g. for `ID` we want categories ["Known","Public", "Secret", "None"] and for `SEX` we just want ["Male", "Female","Genderfluid","Agender"]. There's a way shown below that shows the various possible categories.
* Some data is in the wrong format. For example, `Year` and `APPEARANCES` are floats but they really should be ints (as you cannot have a non-int number of appearances). 
* Some data doesn't match up (like the `FIRST APPEARANCE` and `Year` columns might have not be the same year)
* Some columns are unnecessary. Some are missing data. Some rows are duplicates. Fix those as necessary.
* Some column names are written as uppercase, some are lowercase and some are mixed case. Normalize them so all the column names are in the same format.

Fix as many of these issues as you're able to. At the minimum, complete 4 of the above bulletpoints.

In [30]:
df.shape

(16376, 13)

In [31]:
#removing character from align
df['ALIGN'] = df['ALIGN'].str.split('C').str[0]

In [32]:
#removing extraneous data from EYE, HAIR, SEX,ALIVE and ID
df['EYE'] = df['EYE'].str.split('E').str[0]

In [33]:
df['HAIR'] = df['HAIR'].str.split('H').str[0]

In [34]:
df['SEX'] = df['SEX'].str.split('C').str[0]

In [35]:
df['ALIVE'] = df['ALIVE'].str.split('C').str[0]

In [36]:
df['ID']= df['ID'].str.split('I').str[0]

In [37]:
df['ID'] = df['ID'].str.split('t').str[0]

In [45]:
def see_possible_categories(col):
    return df.groupby(col).sum()
    
see_possible_categories("SEX")

                 page_id
SEX
Agender         21600803
Female        1065495438
Genderfluid        25895
Male          3534969300
None           294509145

In [39]:
#replacing "No dual" to None
# df['column name'].replace(['old value'],'new value')
df["ID"] = df["ID"].replace(["No Dual "], "None")

In [40]:
df["ID"]= df["ID"].replace(["Secre"], "Secret")

In [42]:
df.fillna("None", inplace=True)

In [43]:
#SEX we just want ["Male", "Female","Genderfluid","Agender"]

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret,Good,Hazel,Brown,Male,None,Living,4043,Aug-62,1962
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public,Good,Blue,White,Male,None,Living,3360,Mar-41,1941
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public,Neutral,Blue,Black,Male,None,Living,3061,Oct-74,1974
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public,Good,Blue,Black,Male,None,Living,2961,Mar-63,1963
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),None,Good,Blue,Blond,Male,None,Living,2258,Nov-50,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16371,657508,Ru'ach (Earth-616),\/Ru%27ach_(Earth-616),None,Bad,Green,No,Male,None,Living,None,None,None
16372,665474,Thane (Thanos' son) (Earth-616),\/Thane_(Thanos%27_son)_(Earth-616),None,Good,Blue,Bald,Male,None,Living,None,None,None
16373,695217,Tinkerer (Skrull) (Earth-616),\/Tinkerer_(Skrull)_(Earth-616),Secret,Bad,Black,Bald,Male,None,Living,None,None,None
16374,708811,TK421 (Spiderling) (Earth-616),\/TK421_(Spiderling)_(Earth-616),Secret,Neutral,None,None,Male,None,Living,None,None,None
16375,673702,Yologarch (Earth-616),\/Yologarch_(Earth-616),None,Bad,None,None,None,None,Living,None,None,None

In [ ]:
# df["new_name"] = df['name'].str.split(')',3)
# df

In [ ]:
#making the origin column using split 
df["origin"] = df['name'].str.split('(',3).str[2]

In [ ]:
df["secret_identity"] = df['name'].str.split('(',3).str[1]

In [ ]:
df["name"] = df['name'].str.split('(',3).str[0]

In [ ]:
df

In [ ]:
df.columns.tolist()

In [ ]:
df = df.reindex(['page_id',
 'name',
 'secret_identity',
 'origin',
 'urlslug',
 'ID',
 'ALIGN',
 'EYE',
 'HAIR',
 'SEX',
 'GSM',
 'ALIVE',
 'APPEARANCES',
 'FIRST APPEARANCE',
 'Year'], axis=1)

In [ ]:
df